@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    font-family: sans-serif;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(29, 31, 31);
    border-right: 1px solid rgb(36, 38, 38);
}

header .nav-wsp_desktop{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40px;
    align-items: center;
}

header .nav-wsp_desktop a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu{
    display: none;
}

.nav-wsp_mobible{
    display: none;
}

.user-interface{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.user-pfp{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.bi{
    color: white;
}

@media screen and (max-width: 900px) {
    header .nav-wsp_desktop{
        display: none;
    }
    .nav-wsp_mobible{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        padding: 32px;
        width: 100vw;
        position: absolute;
        top: 70px;
        background-color: white;
    }
    .btn-menu{
        display: flex;
        margin-right: 32px;
    }
}