.message-screen{
    display: flex;
    height: 100vh;
    background-color: rgb(22, 23, 23);
    color: white;
}

.message-screen__contact-list-container{
    width: 30%;
    height: 100%;
    border-right: 1px solid rgb(51, 54, 54);
}
.message-screen__messages-container{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

}
.messages-form-container{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 60%;
}